/* -------1920--------- */
@media only screen and (min-width:1920px) {
  .container-fluid {
    width: 1880px;
    margin: auto;
  }

  .nav-bokbtn {
    padding-right: 20px;
  }

  .secimgmaa {
    margin-top: -803px !important;
    z-index: 99;
    position: relative;

  }
}

/* -------1400px--------- */
@media only screen and (min-width:1400px) {

  .new-pet {
    margin-right: 15%;
  }
}

@media only screen and (max-width:1400px) {

  .new-pet {
    margin-right: 10%;
  }
}

/* -------992px--------- */
@media only screen and (max-width:992px) {
  .offcanvas-body {
    display: flex;
    align-items: flex-start;
  }

  .offcanvas-body li.nav-item {
    padding-right: 0px;
  }

  .mentexces {
    font-family: 'Inter';
    font-size: 17px;
    color: #000;
    padding: 15px 0px 0px 0px;
  }

  .left-menu,
  .right-menu {
    display: flex;
    align-items: flex-start;
  }

  .secdaklogo {
    display: none;
  }

  button.navbar-toggler {
    background: #226349;
  }

  .offcanvas-header {
    background: #226349;
  }

  .navbar-nav.justify-content-start.align-items-center.flex-grow-1.pe-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  ul.navbar-nav.mb-2.mb-lg-0 {
    margin-left: 0px;
  }

  ul.navbar-nav.align-items-center.gap-xl-3 {
    align-items: flex-start !important;
  }

  .navbar-nav.justify-content-center.align-items-center.flex-grow-1.pe-3 {
    align-items: flex-start !important;
  }

  a.nav-link.menusectext {
    color: #000 !important;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .secmobilelogo {
    display: block !important;
    width: 50%;
  }

  .header-nav {
           padding: 10px 0px 0px 0px;
  }

  img.nav-logo {
    width: 100%;
  }
  .navbar-toggler-icon {
    background-image: url(../images/menu.png) !important;
  }
  button:focus:not(:focus-visible) {
    box-shadow: none !important;
  }
}

/* -------767px--------- */
@media only screen and (max-width:767px) {
  .marquee-track img {
    height: 35px;
    opacity: 1;
  }
  .secbgtext {
    padding: 40px 0px;
  }

  .secbgtext h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .header-btn2 {
    font-size: 16px;
  }

  .secjunbg {
    padding: 40px 15px;
  }

  .secbgtext p {
    padding-left: 0px;
  }

  .classes-text {
    padding-top: 10px;
  }

  .studio-carousel {
    padding: 20px 0 40px;
  }

  .secbgabut p {
    font-size: 22px;
  }

  .secbgtext h5 {
    font-size: 16px;
  }

  .sechoosebg {
    padding: 40px 0px;
  }

  .secheadigbg h3 {
    font-size: 30px;
  }

  .secheadigbg p {
    font-size: 12px;
  }

  .pricing-card {
    margin-bottom: 40px;
  }

  .seceverybg {
    padding: 0px 10px 40px 10px;
  }

  .secheadigbg2 h3 {
    font-size: 30px;
  }

  .secheadigbg2 p {
    width: 100%;
  }

  .stagger-down {
    margin-top: 0px;
  }

  .seckeybg {
    padding: 40px 10px;
  }

  .seckeyboxbg {
    margin-bottom: 20px;
  }

  .pilclabg {
    padding: 40px 10px;
  }

  .seccolrbg1,
  .seccolrbg2 {
    width: 100%;
    margin-right: 0%;
  }

  .sectestimonbg {
    padding: 40px 0px;
  }

  .testi-text {
    font-size: 18px;
  }

  .testimonial-section {
    padding: 0px 0;
  }

  .secrotibg {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-logo.text-center {
    text-align: start !important;
  }

  .secfoot3 h6 {
    padding-top: 30px;
  }
}